{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-12 text-left">
            <ul class="list-unstyled">
                <li>Display the last login of the clan member using the <A href="https://bungie-net.github.io/multi/index.html">D2 API</a>.</li>
                <li>It is only the clan of the logged-in user</li>
                <li>If you update your belonging clan more than an hour before login, we will renew it. (It will not be updated if it is within 1 hour.)</li>
                <li>The token is stored in the user session, but it is not persisted to rdb. </li>
                <li><a href="https://github.com/withgod/d2ca">source dode is here</a></li>
            </ul>
        </div>
        <div class="col-lg-12 text-center" style="margin-bottom: 100px">
            <form action="login" id="login">
            {% if user %}
            <button type="button" class="btn btn-secondary btn-block">logged in as {{user.name}} / {{user.clan_name}}</button>
            <script>
                $("#login .btn-secondary").click(function() {
                    window.location.href = '/d2ca/group/{{user.clan_id}}';
                });
            </script>
            {% else %}
                <button type="button" class="btn btn-primary btn-block">login with Bungie.net</button>
            <script>
                $("#login .btn-primary").click(function() {
                    $("#login").submit();
                });
            </script>
            {% endif %}
            </form>
        </div>
        <div class="col-lg-12 text-left">
            <h3>Groups</h3>
            {{include('groups_block.html')}}
        </div>
    </div>


{% endblock %}
